.wps-icon {
  content: '';
  position: relative;
  vertical-align: middle;

  &.btn {
    padding-right: 2.6em;
  }

}

// Plus Icon
.wps-icon-plus {

  &:before,
  &:after {
    content: '';
    box-shadow: inset 0 0 0 1em;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  &:before {
    width: 2px;
    height: 0.8em;
    right: 1.37em;
  }

  &:after {
    height: 2px;
    width: 0.8em;
    right: .66em;
  }

}

// Plus Icon
.wps-icon-dropdown {

  &:after {
    content: '';
    display: block;
    top: 0;
    right: 0;
    z-index: 1;
    background-image: url('../public/imgs/icon-arrow-dropdown.svg');
    background-size: cover;
    top: calc(50% - 10px);
    right: 15px;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
  }





  // transform: rotate(90deg);
  //
  // &:before,
  // &:after {
  //   content: '';
  //   box-shadow: inset 0 0 0 0.5em;
  //   position: absolute;
  //   top: 50%;
  //   transform: translate(-50%,-50%);
  // }
  //
  // &:before {
  //   top: 0.47em;
  //   transform: rotate(45deg);
  //   width: 0.6em;
  //   height: 2px;
  //   position: absolute;
  //   bottom: 0;
  //   margin: auto 0;
  //   right: 1.6em;
  //   box-shadow: inset 0 0 0 32px;
  //   transform-origin: right;
  // }
  //
  // &:after {
  //   top: -0.4em;
  //   transform: rotate(-45deg);
  //   width: 0.6em;
  //   height: 2px;
  //   position: absolute;
  //   bottom: 0;
  //   margin: auto 0;
  //   right: 1.18em;
  //   box-shadow: inset 0 0 0 1em;
  //   transform-origin: right;
  // }

}
