// Visibles
.wps-is-visible {
  display: block !important;
}


// Notices
.wps-notice {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  padding: 1em;
  z-index: 999999;
  text-align: center;
  margin-top: 0;

  a {
    display: inline-block;
    text-decoration: underline;
    color: #c13a3a;
  }

}

.wps-notice-inline {
  text-align: center;
  font-size: 90%;
  padding: 1em;
  margin-top: 0;
  width: 300px;
  position: relative;

  a {
    display: inline-block;
    text-decoration: underline;
  }

  p {
    margin: 0;
    text-align: center;
  }

}

.wps-notice-inline-sm {
  padding: 0.8em;
  width: calc(100% - 1.6em);
  max-width: calc(100% - 1.6em);
}

.wps-notice-success {
  background-color: color(lightgreen);
  color: white;
}

.wps-notice-info {
  background-color: color(info);
  color: color(darkblue);
}

.wps-notice-warning {
  background-color: color(warning);
  color: color(darkblue);
}

.wps-notice-error {
  background-color: color(error);
  color: color(darkblue);
}

@keyframes spin {

  0% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }

}



// Disabled
.wps-is-disabled {

  &.wps-is-loading {

    &:before {
      content: '';
      position: absolute;
      z-index: 9;
      animation: spin 0.6s infinite linear;
      width: 1.6em;
      height: 1.6em;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('../public/imgs/icon-spinner.svg');
    }

  }

  &:after {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    opacity: $dimOpacity;
  }

  &:hover {
    cursor: not-allowed !important;
  }

}

@mixin transition-fast() {
  transition: background-color .2s ease;
}

.wps-is-hidden {
  display: none;
  opacity: 0;

  @include transition-fast;

}
