/*!

Author:         Andrew M Robbins
Author URI:     https://simpleblend.net

*/

@import "utilities/colors";
@import "utilities/functions";
@import "utilities/variables";
@import "utilities/mixins";
@import "base/global";
@import "base/icons";
@import "base/state";
@import "layout/grid";
@import "layout/pagination";
@import "components/forms";
@import "components/products";
@import "components/collections";
@import "components/cart";
@import "components/icons";
@import "components/buttons";
@import "components/pagination";
@import "components/breadcrumbs";
@import "base/fallbacks";

body { background: inherit; }
