<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="false"
	columns="50"
	>

	<php>
	  <const name="WP_TESTS_MULTISITE" value="1" />
	</php>

	<testsuites>

		<testsuite name="All">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>

		<testsuite name="Database">
			<directory prefix="test-db" suffix=".php">./tests/</directory>
		</testsuite>

		<testsuite name="Multisite">
			<directory prefix="test-multisite" suffix=".php">./tests/</directory>
		</testsuite>

		<testsuite name="Integration">
			<directory prefix="test-integration" suffix=".php">./tests/</directory>
		</testsuite>

		<testsuite name="API">
			<directory prefix="test-api" suffix=".php">./tests/</directory>
		</testsuite>

		<testsuite name="Syncing">
			<directory prefix="test-syncing" suffix=".php">./tests/</directory>
		</testsuite>

		<testsuite name="Utils">
			<directory prefix="test-utils" suffix=".php">./tests/</directory>
		</testsuite>

		<testsuite name="CPT">
			<directory prefix="test-cpt" suffix=".php">./tests/</directory>
		</testsuite>

		<testsuite name="Multisite">
			<directory prefix="test-multisite" suffix=".php">./tests/</directory>
		</testsuite>

		<testsuite name="Query">
			<directory prefix="test-query" suffix=".php">./tests/</directory>
		</testsuite>

	</testsuites>

</phpunit>
