$colors: (
  darkblue: #14273B,
  lightblue: #093D55,
  lightgreen: #69C7BF,
  darkgreen: #52A7A6,
  grey: #727272,
  base: #333333,
  white: #ffffff,
  offwhite: #f3f3f3,
  links: #52a7a6,
  linksHover: #52A7A6,
  buttonPrimary: #69C7BF,
  buttonSecondary: #52A7A6,
  success: #8df6b2,
  notice: #d6f2ff,
  error: #ffd3d3
);
