// Breakpoints
@mixin respond-to($breakpoint, $size) {
  @if map-has-key($breakpoints, $breakpoint) {

    @if($size == 'max') {
      @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
      }
    } @else {
      @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
      }
    }

  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin rowMachine($cols) {

  @if($cols == 1) {
    flex: 0 0 auto;
    max-width: 100%;
    width: 100%;

  } @else {

    // Grow, Shrink, Basis
    flex: 0 0 calc((100% / #{$cols}));
    max-width: calc((100% / #{$cols}));
    width: calc((100% / #{$cols}));
  }

}

@mixin siteMaxWidth() {
  @include respond-to(1600, 'min') {
    max-width: $siteMaxWidth;
  }
}
