.wps-animated {
  animation-duration: 0.7s;
  animation-fill-mode: both;
}


/*

Animations

*/
@keyframes wpsBounceInRight {

  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }

}

.wps-bounceInRight {
  animation-name: wpsBounceInRight;
}


@keyframes wpsBounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.wps-bounceOutLeft {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: wpsBounceOutLeft;
}












.wps-l-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
}

.wps-l-space-between {
  justify-content: space-between;
}

.wps-l-box-2 {
  width: 50%;
  flex: 0 0 50%;
}


div[class^="wps-postbox-"] {
  animation-duration: 0.4s;
}





@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutRight {

  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

}

.wps-fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 0.5s;
}

.wps-fadeOutRight {
  animation-name: fadeOutRight;
  animation-duration: 0.5s;
}


.wps-status-heading {
  margin-top: 0;
  text-align: right;
}

.wps-status {

  &:before {
    content: '';
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    margin-left: 0.3em;
    margin-right: 0.3em;
    position: relative;
    top: -1px;
  }

  &.is-disconnected {
    &:before {
      background-color: #dc3232;
    }
  }

  &.is-connected {
    &:before {
      background-color: #85d937;
    }
  }

}


#wps-settings {
  .notice,
  div.error,
  div.updated {
    padding: 0.5em 12px;
  }

  label + small {
    display: block;
  }

  h3 em {
    color: #888;
    font-style: normal;
    font-size: 13px;
    font-weight: normal;
  }
}

#wps-errors {
  margin: 2em 0;
}


.wps-label-block {
  display: block;
  margin-bottom: 10px;
}


.wps-is-disabled {
  &:hover {
    cursor: not-allowed;

    input {
      cursor: not-allowed;
    }

  }

}

.wps-form-group.wps-form-group-align-top .form-table {

  margin-top: 20px;

  th {
    vertical-align: top;
  }

  td {
    padding-top: 0;
  }

}

.wps-admin-wrap {
  position: relative;
  display: block !important;
}

.wps-l-contain {
  max-width: 700px;
}

.wps-button-group {
  width: 100%;

  input[type="submit"],
  .spinner {
    float: left;
  }

  #submit:disabled:hover {
    cursor: not-allowed;
  }
}

.wps-connector {
  width: 630px;
  max-width: 630px;
  background-color: #f3f3f3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 5vh;
  padding: 1em;

  .notice {
    padding: 1em;
    margin-bottom: 1em;
  }

  &.wps-is-finished {

  }

}

.wps-connector-wrapper,
.wps-admin-section {
  margin-bottom: 2.5em;

  h2, h4 {
    margin-bottom: 5px;
  }

  .wps-spinner {
    float: none;
    width: auto;
    height: auto;
    padding: 10px 0 10px 50px;
    background-position: 0;
  }

  .wps-submit {
    display: inline-block;
  }
}

.wps-admin-section-heading {
  border-bottom: 1px solid #ccc;
  padding: 9px 0;
  margin-top: 0;
  margin-bottom: 0;
}


.notice-wps {
  display: none;
}


.wps-connector-wrapper {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  transition: opacity .3s ease-out;
  z-index: 99999;

  .wps-btn,
  .button {
    float: right;
    margin-top: 20px;
  }

  .wps-btn-cancel {
    margin: 0.5em auto;
    display: block;
    float: none;
  }

}


.wps-connector-content {
  // background-color: white;
  // height: 100%;
  padding: 20px;
  position: relative;
  min-height: 300px;
}



.wps-is-connected {

  .wps-progress-notice {
    visibility: hidden;
  }

  .wps-connector-content {
    background-color: #eee;
  }

  h2 {
    position: absolute;
    top: 33%;
    left: 38%;
    font-size: 28px;
  }

  &.wps-animated {
    animation-duration: 0.4s;
  }

}


@keyframes wpsGrow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.6);
  }

  100% {
    transform: scale(1);
  }

}


@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}







/* ANIMATED CHECKMARK */
@keyframes wpsCheck {

  0% {
    height: 0;
    width: 0;
    transform: scale(1);
  }

  33% {
    width: 30px;
    height: 0;
  }

}

.wps-progress-notice {
  font-size: 16px;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 5px 0;

  &:first-of-type {
    margin-top: 5px;
  }

  &.is-inactive {
    opacity: 0.4;

    .wps-progress-text-supporting {
      display: none;
    }

    &:only-child {
      opacity: 1;
    }

  }

  &:only-child {
    opacity: 1;
  }

}

.wps-icon-checkmark {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 10px;
  float: right;
  right: 30px;
  transition: all .2s ease-in-out;
  animation: wpsGrow 1s;
}

.wps-icon-checkmark:after {
  animation: wpsCheck 0.4s;
}

.wps-icon-checkmark:after {
  transform: scaleX(-1) rotate(135deg);
  transform-origin: left top;
  border-right: 4px solid #85d937;
  border-top: 4px solid #85d937;
  content: '';
  display: block;
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 6px;
}

.wps-icon-xmark {
  width: 30px;
  height: 30px;
  background: transparent;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: -6px;
  right: -8px;
  float: right;
  transition: all .2s ease-in-out;
  animation: wpsGrow 1s;
}

.wps-icon-xmark:after,
.wps-icon-xmark:before {
  content: "";
  position: absolute;
  display: block;
  top: 3px;
  left: 0;
  height: 25px;
  width: 4px;
  background: #dc3232;

}

.wps-icon-xmark:before{
  transform:rotate(45deg);
}

.wps-icon-xmark:after{
  transform:rotate(-45deg);
}

.wps-connector-content-heading {
  line-height: 1;
  margin: 0.5em 0 1em;
  font-size: 32px;
  color: #85d937;
}




.wps-is-back-from-shopify {
  .wps-icon-checkmark,
  .wps-icon-xmark {
    transition: none !important;
    animation: none !important;
  }
}





/* END ANIMATED CHECKMARK */
.wps-connector-heading {
  font-size: 23px;
  color: #23282d;
  margin: 1em 0;
  margin-bottom: 17px;
  font-weight: 400;
  margin-top: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  line-height: 1;

  + .wps-spinner {
    float: none;
    width: auto;
    height: auto;
    padding: 10px 0 10px 50px;
    background-position: 5px 0;
    margin-bottom: 20px;
    position: relative;
    left: -151px;
    top: 0;
  }
}

.wps-connector-logo {
  width: 31px;
  max-width: 37px;
  margin-left: 6px;
  margin-right: 6px;
  position: relative;
  top: 8px;

  &:first-of-type {
    width: 28px;
  }
}

.wps-progress-notice-group {

  display: inline-block;
  max-width: 90%;
  width: 90%;

  .wps-progress-text {
    float: left;
    position: relative;
    display: inline-block;
    width: 90%;
  }

  .wps-spinner {
    float: right;
    margin-top: 0;
  }

  .spinner {
    position: absolute;
    right: -3px;
    top: 0;
    margin-top: 0;
  }

}


.wps-progress-text-supporting {
  display: block;
  width: 95%;
  margin-top: 5px;
  margin-bottom: 10px;
}







/*

Tabs

*/
.tab-content {
  max-width: 700px;
  display: none;
  margin-top: 1em;
}

.tab-content-full {
  max-width: 100%;
}

.tab-content-active {
  display: block;
}


.wps-admin-wrap {

  input.error,
  textarea.error {
    animation: shake 1s;

    + .wps-form-icon {
      width: 30px;
      height: 30px;
      background: transparent;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: 0;
      right: -10px;
      animation: shake 1s;

      &:after,
      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 4px;
        left: 0;
        height: 17px;
        width: 3px;
        background: #dc3232;
      }

      &:after {
        transform:rotate(-45deg);
      }

      &:before {
        transform:rotate(45deg);
      }

    }

  }

  input.valid,
  textarea.valid {
    + .wps-form-icon {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      right: -5px;
      animation: wpsGrow 0.4s;

      &:after {
        // animation: wpsCheck 0.4s;
        transform: scaleX(-1) rotate(135deg);
        transform-origin: left top;
        border-right: 4px solid #85d937;
        border-top: 4px solid #85d937;
        content: '';
        display: block;
        height: 14px;
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
      }
    }
  }

}



.tab-content[data-tab-content="tab-connect"].wps-connected {

  .wps-form-icon {
    opacity: 0.4;
    animation: none !important;
    transform: none;

    &:after {
      animation: none !important;
    }
  }
}

.tab-content[data-tab-content="tab-updates"] {
  .wps-admin-section-heading {
    border-bottom: 0;
  }
}




.wps-admin-section {

  .wps-button-group {
    display: flex;
    margin-top: 2em;
    font-size: 1em;
    z-index: 1;

    .submit {
      padding-bottom: 0;
      margin-bottom: 0;
      padding-top: 0;
      margin-top: 0;
    }

    .spinner {
      position: relative;
      top: -1px;
    }
  }
}

.tab-content {
  .form-table {
    margin-top: 0;

    th {
      padding: 10px 10px;
    }
  }
}

.wps-form-control {
  margin-bottom: 1em;
}




.wps-is-hidden {
  display: none !important;
}









/*

Extending WP Core styles

*/

.wp-core-ui .button-primary-disabled,
.wp-core-ui .button-primary.disabled,
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary[disabled] {

  color: white !important;
  opacity: 0.4 !important;

  &:hover {
    cursor: not-allowed !important;
  }
}



.wps-form-group {
  margin-bottom: 30px;

  input[disabled] {

    &:hover {
      cursor: not-allowed;
    }

    + .wps-form-icon {
      opacity: 0.4;
      animation: none !important;
      transform: none;

      &:after {
        animation: none !important;
      }
    }
  }

  h3 {
    margin-bottom: 0.5em;

    small {
      display: inline;
      margin-bottom: 10px;
      font-size: 80%;
      color: #797979;
    }

    + small {
      display: block;
      margin-bottom: 10px;
      font-size: 90%;
      color: #797979;
    }

  }

  h4 {
    margin-bottom: 0.5em;
    font-size: 14px;
    font-weight: 600;

    small {
      display: block;
      margin-bottom: 10px;
      font-size: 90%;
      color: #797979;
    }

    + small {
      display: block;
      margin-bottom: 10px;
      font-size: 90%;
      color: #797979;
    }
  }

  label.error {
    margin-left: 10px;
    color: red;
  }

}


.wps-progress-notice {

  .notice {
    font-size: 12px;
    margin-left: 0;

    &:first-of-type {
      margin-top: 1em;
    }

  }

}

.wps-form-group-tight {
  margin-bottom: 0;
}

.wps-is-active {
  visibility: visible;
}


.pace {
  z-index: 99999999;
}







/*

Custom Loader

*/
.wps-loader {
  appearance: none;

  /* Determinate */
  &[value] {
    appearance: none;
  }

  /* Indeterminate */
  &:not([value]) {
    appearance: none;
  }

  &::-webkit-progress-bar {
    background: white !important;
  }

}

.wps-loader-body {
  background-color: whiteSmoke;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;

  width: 250px;
  height: 20px;

  position: relative;
  display: block;
}

.wps-loader-body > span {
  background-color: #85d937;
  border-radius: 2px;

  display: block;
  text-indent: -9999px;
}





/*

TODO: Remove for Phase 2

*/
.post-type-wps_collections,
.post-type-wps_products {

  // #post-body {
  //   opacity: 0.2;
  // }

  .wps-admin-heading {
    text-align: center;
  }

  .wps-admin-notice {
    position: absolute;
    top: 32vh;
    background: white;
    left: calc(50% - 300px);
    padding: 1em 2em;
    text-align: left;
    max-width: 500px;
  }

}


.wps-col-license-status-active {
  color: #85d937;
}

.wps-col-license-status-notify {
  // color: #ffb900;
  color: #85d937;
}

.wps-table-supporting {
  display: block;
  margin-top: 10px;
}



.wps-is-notifying {

  .wp-list-table.plugins {
    tr.active[data-slug="wp-shopify"] td,
    tr.active[data-slug="wp-shopify-pro"] td,
    tr.active[data-slug="wp-shopify"] th,
    tr.active[data-slug="wp-shopify-pro"] th {
      box-shadow: none;
    }
  }

}


.wps-help-tip {
  color: #666;
  display: inline-block;
  font-size: 1.1em;
  font-style: normal;
  height: 16px;
  position: relative;
  width: 16px;
  padding: 0;
  vertical-align: middle;
  cursor: help;
  line-height: 1;
  margin: 2px -24px 0 0;
  float: right;

  &:after {
    content: "\f223";
    font-family: Dashicons;
    font-weight: 400;
    line-height: 1;
    text-indent: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: help;
    margin: 0px;
  }
}

.wps-help-tip-inline {
  float: none;
  top: -4px;
}

.wps-help-tip-inline-checkbox {
  left: -30px;
  top: -2px;
}

.wps-help-tip-inline-no-position {
  float: none;
}

.wps-form-group .form-table th {
  position: relative;
  padding: 0 24px 0 0;
  vertical-align: middle;
}

.tooltipster-base {
  color: #fff;
  max-width: 200px;
  background: #23282d;
  text-align: center;
  border-radius: 3px;
  padding: .618em 1em;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);

  .tooltipster-content {
    font-size: 12px;
  }

}


input.code {
  width: 20em;
}


.wps-version-pill {
  font-size: 50%;
  position: relative;
  top: 5px;
  left: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


#wps-plugin-info,
#wps-license {
  min-height: 80px;

  > .spinner {
    float: none;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 10px);
  }

  &.wps-is-ready {

    > .spinner {
      display: none;
    }

  }

}

#wps-plugin-info {
  min-height: 140px;
}

.metabox-holder .postbox .wps-form-group > h3 {
  font-size: 14px;
}


.wps-col-plugin-name {
  min-width: 157px;
}



@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}


.wps-progress-bar-wrapper {
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 100%;
  background-color: #F3F3F3;
  margin: 5px 0 20px;
  background-image: linear-gradient(-45deg, rgba(255,255,255,0.35) 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 50%,rgba(255,255,255,0.35) 50%,rgba(255,255,255,0.35) 75%,rgba(0,0,0,0) 75%,rgba(0,0,0,0));
  background-size: 28px 28px;
  animation: animate-stripes 5s linear infinite;
  border: 1px solid #85d937;

  &.wps-is-complete {
    border: 1px solid #85d937;
    // opacity: 0.4;

    .wps-progress-bar {
      width: 100% !important;
      background-color: #85d937;
    }

    .wps-progress-step-percentage {
      display: none;
    }

    .dashicons-yes {
      opacity: 1;
    }

  }

  .dashicons-yes {
    position: absolute;
    right: .3em;
    top: 0.12em;
    z-index: 20;
    opacity: 0;
    background: #333;
    color: #85d937;
    font-size: 2.2em;
  }

}

.dashicons-no,
.dashicons-yes {
  width: .75em;
  height: .75em;
  border-radius: 50%;
  text-indent: -.18em;
  line-height: .8;
  vertical-align: 2.2em;
  font-size: 2.6em;
  transition: opacity .2s ease-in;
  float: right;
  position: relative;
  top: -12px;
}

.dashicons-yes {
  color: #85d937;
}

.dashicons-no {
  color: #ea5f5f;
  font-size: 2.2em;
  position: relative;
  top: -5px;
  right: 2px;
}

.wps-progress-bar {
  background-color: #85d937;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: width 1s ease-out;
  z-index: 0;
}

.wps-is-stopping {
  .wps-progress-bar-wrapper {
    display: none;
  }
}

.wps-is-finished {

  .wps-progress-bar-wrapper.wps-is-complete .wps-progress-bar,
  .wps-progress-bar {
    width: 0% !important;
  }

  .wps-progress-bar-wrapper {
    animation: none;
    display: none;
  }

  .wps-connector-content {
    > div:first-of-type {
      opacity: 1;
    }
  }

}

.wps-progress-step-percentage {
  position: absolute;
  top: 4px;
  right: 10px;
  z-index: 9;
}

.wps-progress-step-name {
  position: absolute;
  left: 10px;
  top: 4px;
  z-index: 9;

  &:first-letter {
    text-transform: capitalize;
  }

}

#wps_products_meta_box_tags,
#wps_products_meta_box_collections {

  .inside {
    max-height: 167px;
    overflow-y: scroll;
    border-bottom: 12px solid white;
  }

}



tr.active[data-slug="wp-shopify"] + .plugin-update-tr {
  display: none;
}
