.wps-btn {
  // padding: $btn-space-top $btn-space-sides;
  padding: $btn-space-top 0;
  background-color: color(lightgreen);
  text-decoration: none;
  text-transform: uppercase;
  font-size: $font-s;
  display: inline-block;
  border-radius: none;
  border: none;
  position: relative;
  line-height: 1;
  text-align: center;
  color: white;

  @include respond-to(600, 'max') {
    font-size: 1em;
  }

  &:hover {
    color: white;
    background-color: color(linksHover);
    opacity: 1;
  }

  &.wps-is-disabled {
    &:hover {
      background-color: color(lightgreen);
    }
  }

  &.wps-btn-secondary.wps-is-disabled {
    &:hover {
      background-color: color(lightblue);
    }
  }

}

.wps-btn-secondary {
  background-color: color(lightblue);

  &:hover {
    background-color: color(darkblue);
  }
}


.wps-btn-outline {
  background-color: transparent;
  border: 3px solid color(darkblue);
  color: color(darkblue);

  &:hover {
    color: white;
    background-color: color(darkblue);
  }
}


.wps-btn-sm {
  padding: $btn-space-top $btn-space-sides;
  font-size: $font-xxs;

  @include respond-to(600, 'max') {
    font-size: 1em;
  }
}

.wps-btn-lg {
  padding: $btn-space-top $btn-space-sides;
  font-size: $font-l;

  @include respond-to(600, 'max') {
    font-size: 1em;
  }
}

.wps-btn-cart {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0 1em;
  position: relative;

  &:focus {
    outline: 0;
  }

  &:hover {
    background: transparent;
  }

}

.wps-btn-close {
  width: 30px;
  margin-top: 0;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: $font-xxl;
  color: color(darkblue);
  border: none;
  background: transparent;
  transition: transform 100ms ease;
  cursor: pointer;
  padding: 0;
  font-weight: normal;

  &:hover {
    opacity: $dimOpacity;
    background: transparent;
    color: color(darkblue);
  }

  &:focus {
    border: none;
    outline: none;
  }

  span {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    left: 0;
  }

}

.wps-btn-checkout {
  width: 100%;
  margin-top: 0;
  margin-bottom: 1em;
  text-align: center;
  color: white;
}

.wps-btn-wrapper {
  margin-top: $space-m;
  padding: 0;

  @include respond-to(700, 'max') {
    width: 100%;
    max-width: 100%;
  }

}
