.wps-cart {
  position: fixed;
  margin-top: 0;
  width: 100%;
  max-width: 350px;
  height: 100%;
  right: 0;
  top: 0;
  background: white;
  border-radius: 1px;
  box-shadow: -17px 0 35px rgba(0,0,0,.1);
  transform: translateX(108%);
  z-index: 99999999;
}

.wps-cart-item__content {
  + .wps-notice-inline {
    float: left;
    width: 100%;
    display: block;
    margin-top: 10px;
  }
}

.wps-btn-cart.wps-btn-cart-fixed {
  position: fixed;
  top: calc(50% - 70px);
  right: 0;
  background: #ddd;
  padding: 2em 0.5em 0.8em 0.7em;
  transform: translateX(100%);
  border-radius: 5px 0 0 5px;

  .wps-cart-counter {
    transform: translateY(108px) !important;
    right: 0.65em;
    background: none !important;
    padding: 0;
    color: white;
    font-size: 0.7em;

    &.wps-cart-counter-lg {
      right: 0.5em;
      font-size: 0.8em;
    }

  }

  .wps-icon-cart {
    width: 25px;
    height: 25px;
  }

  &:hover {

    .wps-icon-cart,
    .wps-cart-counter {
      opacity: 0.6;
    }
  }

  &.wps-is-loading:before {
    right: 0.6em;
    top: 10px;
  }

  &.wps-is-cart-empty {
    padding: 0.8em 0.5em 0.8em 0.7em;

    .wps-cart-counter {
      display: none;
    }
  }

}


.wps-cart-section {
  position: relative;
  padding: 20px;

  @include respond-to(600, 'max') {
    margin-bottom: -1em;
  }
}

.wps-cart-section--top {
  z-index: 5;
  padding-bottom: 0;
}

.wps-cart-title {
  color: color(darkblue);
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90%;
  margin-top: 0;
}

.wps-btn--close {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 35px;
  color: color(darkblue);
  border: none;
  background: transparent;
  transition: transform 100ms ease;
  cursor: pointer;
}

.wps-btn--close:hover {
  transform: scale(1.2);
  color: dimgray;
}

.wps-cart-form {
  margin-top: 0;
  width: 100%;
  top: 0;
  padding: 0;
  height: calc(100vh - 85px);
}


.wps-btn-checkout {
  &.wps-is-loading:before {
    left: 1em;
    top: calc(50% - 1em);
    width: 2em;
    height: 2em;
  }
}


.wps-cart-item-container {
  margin-top: 0;
  height: calc(100% - 170px);
  position: relative;

  overflow-x: auto;
  overflow-y: scroll;

  -webkit-overflow-scrolling: touch;
  perspective: 400px;
  perspective-origin: 50% 0px;
  width: auto;
  max-width: auto;
  margin: 0 auto;

  > div:last-child {
    margin-bottom: 7em;
  }

  &.wps-is-loading {

    &:before {
      left: calc(50% - 2em);
      top: calc(50% - 2.5em);
      width: 5em;
      height: 5em;
    }

  }

}

.wps-cart-item {
  margin-top: 0;
  margin-bottom: 40px;
  overflow: hidden;
  backface-visibility: visible;
  min-height: 74px;
  position: relative;
  opacity: 0;
  top: -50px;

  &.wps-is-disabled {

    &:before {
      top: calc(50% - 1.6em);
      left: 23px;
    }

    .wps-cart-item__img {
      opacity: 0.2;
    }

  }

}

.wps-cart-item.wps-js-hidden {
  opacity: 0;
}

.wps-cart-item.wps-js-working {
  display: none !important;
}

.wps-cart-item.wps-js-working:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.wps-cart-item__img {
  width: 74px;
  height: 74px;
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e5e5e5;
  position: absolute;
}

.wps-cart-item__content {
  margin-top: 0;
  padding-left: 84px;
  width: auto;
}

.wps-cart-item__content-row {
  margin-bottom: 0.5em;
  line-height: 1.4;
  float: left;
  margin-top: 0;
  width: 100%;
}

.wps-cart-item__variant-title {
  display: block;
  width: 100%;
  font-size: 70%;
  letter-spacing: 0.02em;
  line-height: 1.4;
  color: color(darkblue);
}

.wps-cart-item__quantity-container {
  border: 1px solid #ddd;
  float: left;
  border-radius: 3px;
  display: flex;
}

.wps-cart-item-img-link {
  width: 100%;
  display: block;
  height: auto;
}


.wps-quantity-decrement,
.wps-quantity-increment {
  color: color(darkblue);
  display: block;
  float: left;
  margin-top: 0;
  height: auto;
  padding: 0 10px;
  font-size: 18px;
  font-family: monospace;
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  text-align: center;

  &:hover,
  &:focus {
    background: transparent;
  }

  @include respond-to(600, 'max') {
    font-size: 26px;
  }

}

.wps-quantity-decrement {
  span {
    position: relative;
    top: -2px;
  }
}

input[type="number"].wps-cart-item__quantity {
  color: black;
  margin-top: 0;
  height: auto;
  font-size: 18px;
  border: none;
  text-align: center;
  -moz-appearance: textfield;
  background: transparent;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 0;
  border-bottom: 0;
  display: block;
  float: left;
  padding: 0;
  border-radius: 0;
  max-width: 50px;

  @include respond-to(600, 'max') {
    font-size: 22px;
  }
}







.wps-cart input[type=number]::-webkit-inner-spin-button,
.wps-cart input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wps-cart-item__price {
  line-height: 1.6;
  float: right;
  margin-top: 0;
  position: relative;
  top: 5px;
}

.wps-cart-item__quantity {
  font-size: 70%;
  margin-right: 8px;
  color: #5a5a5a;
}

.wps-cart-bottom {
  margin-top: 0;
  padding: 0 20px;
  margin: 0;
  // border-top: 1px solid #ddd;
  position: absolute; // Needs to stay as 'absolute' vs 'fixed' for IE11
  bottom: 0;
  width: 100%;
  min-height: 170px;
  background: white;
}

.wps-cart-info {
  padding: 0;
  float: left;
  width: 100%;
  background-color: white;
  margin-bottom: 0;
  padding-top: 20px;
}

.wps-cart-info__total {
  float: left;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 2;
}

.wps-cart-info__small {
  font-size: 11px; }

.wps-cart-info__pricing {
  margin-top: 0;
  float: right;
  line-height: 1;
}

.wps-cart-discount-notice {
  color: color(darkblue);
  margin-bottom: 10px;
  width: 100%;
  // text-align: center;
  margin: 1em 0;
}

.wps-cart-actions-container {
  margin-top: 0;
  padding: 0;
  width: 100%;
}







.wps-cart-counter {
  position: absolute;
  font-weight: normal;
  top: -100px;
  right: 0px;
  background-color: #6ae06a;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: 2;
  z-index: 3;
  width: 25px;
  height: 25px;
  max-width: 25px;
  max-height: 25px;

  &.wps-animated {
    animation-duration: 1.2s;
  }
}

.wps-cart-empty-notice {
  top: 38%;
  text-align: center;
  color: #ddd;
  position: absolute;
  margin: 0;
  width: calc(100% - 40px);

  h2 {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
  }

}

.wps-cart-counter-lg {
  padding: 0;
  line-height: 2;
  width: 30px;
  height: 30px;
  max-width: 30px;
  max-height: 30px;
  font-size: 16px;
  right: -7px;
}

.wps-products-heading {
  text-align: center;
  width: 100%;
  margin: 1em 0 0.5em;
}

.wps-cart-item__title {
  color: color(darkblue);
  text-decoration: none;

  &:hover {
    color: color(darkblue);
  }

}
