.wps-collections {
  width: 100%;
}

.wps-collections-product {
  text-align: center;
}

.wps-collections-products {
  list-style: none;
}

.wps-collections-products-heading {
  text-align: center;
  margin: $space-l 0;
}
