.wps-product-style {
  margin: 0;
  padding: $btn-space-top $btn-space-sides;
  border-bottom: 1px solid #eee;
  line-height: 1;
  text-align: center;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: #f3f3f3;
    cursor: pointer;
  }

}

.wps-product-notice {
  // width: calc(100% - 1.66668em);
  // max-width: calc(100% - 1.66668em);
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: $space-m;

  &.wps-notice-inline-sm {
    margin-top: $space-m;
    // width: calc(100% - 1.6em);
    // max-width: calc(100% - 1.6em);
  }

}

.wps-product-quantity {
  padding: 0.5em 0;
  margin: 0;
  text-align: center;
  max-width: 70px;
}

label[for="wps-product-quantity"] {
  margin: 0 1em 0 0;
}

.wps-product-header {
  text-align: center;
}


.wps-product-price {
  font-size: 28px;
  margin: 0;
  display: inline-block;
  border-top: 1px solid #ddd;
  padding-top: 0.5em;
  margin-top: 0.5em;
}

.wps-product-title {}



.wps-add-to-cart {
  margin-top: 0;
  position: relative;
  text-align: center;
  padding: 1em;

  &:after {
    content: '';
    display: block;
    background-image: url('../public/imgs/icon-add-to-cart.svg');
    background-size: cover;
    top: calc(50% - 10px);
    right: 15px;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
  }

}

.wps-add-to-cart,
.wps-modal-trigger {

  &:before {
    transform: rotate(0deg) scale(3);
  }

  &.wps-is-disabled {
    position: relative;
    transition: transform;

    &:after {
      content: '';
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      // background-color: white;
      // opacity: $dimOpacity !important;
      transform: none;
      box-shadow: none;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 9;
      animation: spin 0.6s infinite linear;
      width: 2em;
      height: 2em;
      left: 1em;
      top: calc(50% - 1em);
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('../public/imgs/icon-spinner.svg');
    }

    &:hover {
      cursor: not-allowed !important;
      // background-color: color(lightblue) !important;
    }

  }

}











.wps-variant-title {
  margin: 0;
  color: #a9a9a9;
  font-size: 16px;
  text-align: center;
}

.wps-variant-price {
  text-align: center;
  font-size: 16px;
  margin: 0;
}




.wps-pricing {
  margin-left: 5px;
  font-size: 1.7em;
  color: color(darkblue);
}

.wps-variant-selectors {
  margin-bottom: 20px;
}

.wps-variant-selectors label {
  display: block;
  margin-bottom: 5px;
}

.wps-variant-selectors select {
  margin-bottom: 10px;
  width: 100%;
}

.wps-type--center {}




// Product Gallery
.wps-product-gallery {
  display: block;

  &.wps-col {
    @include respond-to(1100, 'max') {
      flex: 0 0 100%;
      order: 1;
      padding: 0;
      max-width: 60%;
      margin: 0 auto;
    }

    @include respond-to(800, 'max') {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      max-width: 100%;
    }
  }

}

.wps-product-gallery-imgs {
  line-height: 1;

  img {
    margin: 0;
  }

}

.wps-product-gallery-img-feat-wrapper {
  line-height: 0;
}

.wps-product-gallery-img-feat-wrapper,
.wps-product-gallery-img-thumb-wrapper {
  // padding: 0;
}

.wps-product-gallery-img-thumb-wrapper {
  display: inline-block;

  @include respond-to(600, 'max') {
    max-width: calc(25.9% - #{$space-m});
    margin: 0 $space-m $space-m 0;

    &:nth-child(1n+1) {
      margin: 0 $space-m $space-m 0;
    }

    &:nth-child(4n+4) {
      margin: 0;
    }

  }



}


/*

If only two gallery thumbs exist ...

*/
.wps-product-thumbs div:nth-last-child(2):first-child {
  margin-right: 1.4em;
  max-width: calc(97%/3);
  width: 100%;

  + div {
    margin-right: 1em;
    max-width: calc(97%/3);
    width: 100%;

    &:last-child {
      margin-right: 0;
    }
  }
}


.wps-product-thumbs {
  margin-top: $space-m;

  @include respond-to(600, 'max') {
    margin-top: $space-m;
  }

}

.wps-product-gallery-img-feat {
  width: 100%;
  margin-bottom: 0;
}

.wps-product-gallery-img-thumb {
  max-width: 100%;

  &:hover {
    opacity: $dimOpacity;
    cursor: pointer;
  }
}

.wps-product-info {

  @include respond-to(1100, 'max') {
    flex: 0 0 100%;
    max-width: 100%;
    order: 2;
    padding-top: 0;
    margin-top: 3em;
    height: 100%;
    padding-left: 0;
  }

  @include respond-to(600, 'max') {
    padding-left: 0;
    padding-right: 0;
    margin-top: $space-l;
  }
}




.wps-btn-dropdown {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;

  &[data-selected="true"]:before {
    content: '';
    background-image: url('../public/imgs/icon-success.svg');
    z-index: 2;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -10px;
    top: -10px;
  }

  .wps-btn {
    width: 100%;
  }

  &.wps-col-3 {
    margin-top: $space-m;

    @include respond-to(900, 'max') {

    }

  }

  @include respond-to(700, 'max') {
    width: 100%;
    flex: 1;
    max-width: 100%;
    padding-right: 0;

    + .wps-btn,
    .wps-btn {
      margin-bottom: 1em;
      width: 100%;
      max-width: 100%;
      flex: 1;
    }

  }

}

.wps-modal {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 14px 40px -3px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 0;
  z-index: 9;
  top: 48px;
  width: 100%;
  max-width: 100%;
  display: none;
  opacity: 0;

  @include respond-to(700, 'max') {
    top: 75%;
    width: calc(100%);
    max-width: calc(100%);
  }

}

.wps-btn-dropdown[data-open="true"] .wps-modal {
  display: block;
  opacity: 1;
  animation: none;
  z-index: 99999;
}

.wps-product-content {
  margin: $space-m 0 $space-l;
  word-wrap: break-word;
}

.wps-related-products {
  padding-top: 2em;
  margin-top: 1em;
  text-align: center;
}

.wps-related-products-heading {
  margin-bottom: 0.5em;
  display: inline-block;
  padding-bottom: 0.5em;
  text-align: center;
  margin-top: 0;
}







/*


WP Shopify namespaced styles go here

*/
.wps-title {
  border-bottom: 1px solid color(grey);
  padding-bottom: 40px;
  margin-bottom: 40px;
  margin-top: 0;
}



.wps-products-title,
.wps-collections-title {
  font-size: $font-l;
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.4;
  margin-top: 1em;
  white-space: normal;
}


.wps-products-price {
  margin-top: 0.5em;
  font-size: $font-m;
  text-align: center;
  color: color(grey);

  &:before {
    content: '';
    width: 70px;
    border-top: 1px solid #ddd;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.9em;
  }
}


.wps-products-link {
  display: block;

  &:hover {
    opacity: 0.85;
  }

}


.wps-products {
  padding-left: 0;
  list-style: none;
}

.wps-collection-item,
.wps-product-item {
  text-align: center;
  padding: 0;
}


.wps-product-meta {
  position: relative;

  .wps-notice-inline {
    width: 100%;
  }

  &.wps-is-loading {

    &:before {
      top: calc(35% - 2.35em);
      left: calc(50% - 2.35em);
      width: 4.7em;
      height: 4.7em;
    }

  }

  &.wps-fadeIn {
    opacity: 1;
  }
}

.wps-product-item {

  .wps-product-actions-group {
    display: block;
    margin: 0;

    .wps-btn-wrapper,
    .wps-btn-dropdown {
      max-width: 100%;
      width: 100%;
      padding-right: 0;
      flex: 1;
    }

    .wps-modal {
      // width: calc(100% - 1.66668em);
      // max-width: calc(100% - 1.66668em);
      // width: calc(100% - 0.83334em);
      // max-width: calc(100% - 0.83334em);

    }

  }

  .wps-btn-dropdown {
    margin-top: $space-m;
  }

  .wps-product-meta {

    .wps-notice-inline {
      width: calc(100%);
      max-width: calc(100%);
      margin: $space-m auto 0 auto;
    }

  }

  .wps-product-link {
    display: inline-block;
    width: 100%;
  }

}


.wps-products-item {
  margin-bottom: 40px;
  line-height: 1;

  @include respond-to(600, 'max') {
    margin-bottom: 20px;
  }
}

.wps-product-actions-group {
  margin-top: $space-l;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: 100%;
  margin-right: 0;
  margin-left: 0;

  &.wps-btn-wrapper:first-child {
    width: auto;
    min-width: 300px;
    margin: 0 auto;
  }


  .wps-btn-dropdown:first-child {
    + .wps-btn-wrapper {
      // margin-top: 0;
    }
  }

  .wps-btn-dropdown,
  .wps-add-to-cart {
    // width: 50%;
    display: block;
    justify-content: space-between;
  }

  @include respond-to(700, 'max') {
    display: block;
    flex: none;

    .wps-btn-dropdown,
    .wps-add-to-cart {
      width: 100%;
      flex: 1 0 100%;
      display: block;
      margin-top: 0;
    }
  }
}


.wps-product-single {
  margin-top: $space-l*3;

  .wps-btn-wrapper {
    margin-top: 0;
  }

  .wps-col-2 + .wps-btn-wrapper.wps-col-1,
  .wps-col-3 + .wps-btn-wrapper {
    margin-top: $space-m;
    width: 100%;
  }

}


.wps-products-img {
  width: auto;
  margin: 0 auto;
}


.wps-product-heading {
  text-align: center;
}


.wps-product-individual-price-format {
  margin-left: 7px;
}
